@font-face {
  font-family: 'Constantine';
  src: url("/fonts/Constantine.ttf") format("truetype");
}
@font-face {
  font-family: 'Optimus';
  src: url("/fonts/OptimusPrincepsSemiBold.ttf") format("truetype");
}
/***************
CSS reset
****************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/***************
Index.html Styles
****************/
* {
  /* Safari/Chrome, other WebKit */
  /* Firefox, other Gecko */
  box-sizing: border-box
  /* Opera/IE 8+ */
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  background: url(../images/feature01.jpg) no-repeat center center fixed;
  background-size: cover;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100vw;
}

body#indexBody::after {
  content: "";
  background-color: black;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background: #eee;
  padding: 20px;
  margin: 0 0 20px 0;
  background-color: transparent;
}
nav #nameDiv h1 {
  margin: 10px 0;
  font-family: "Optimus", "Quattrocento", serif;
  font-size: 6vw;
  font-weight: bold;
  text-align: center;
  color: whitesmoke;
  letter-spacing: 1px;
}
nav hr {
  border: 0;
  height: 1px;
  width: 65vw;
  background: rgba(255, 255, 255, 0);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.75) 50%, rgba(176, 5, 42, 0.75) 50%, rgba(176, 5, 42, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}
nav #slogan {
  margin: 40px 0;
  font-family: "Ubuntu Condensed", serif;
  font-size: 2.2vw;
  color: whitesmoke;
  text-align: center;
}
nav .linksContainer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0;
}
nav .linksContainer .links {
  text-align: center;
  outline: 1px solid whitesmoke;
  padding: 10px;
}
nav .linksContainer .links a {
  font-family: "Optimus", "Quattrocento", serif;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: #e6e6e6;
  text-decoration: none;
  padding: 10px 50px;
  font-size: 3vw;
}
nav .linksContainer .links:hover {
  background-color: whitesmoke;
}
nav .linksContainer .links:hover a {
  color: #333333;
}

/***************
Media Queries
****************/
@media screen and (max-width: 585px) {
  nav #nameDiv h1 {
    font-size: 8vw;
  }

  nav #slogan {
    display: none;
  }

  .linksContainer {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .linksContainer .links {
    width: 210px;
    margin: 15px 0;
  }

  nav .linksContainer .links a {
    width: 100%;
    font-size: 3.5vw;
    padding: 10px 0px;
  }
}
